<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ilham.ilham_1202152174_studyCase4">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.ilham.ilham_1202152174_studyCase4.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.ilham.ilham_1202152174_studyCase4.ListNamaMahasiswa"
            android:parentActivityName="com.example.ilham.ilham_1202152174_studyCase4.MainActivity"
            android:configChanges="orientation|screenSize|keyboard"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ilham.ilham_1202152174_studyCase4.MainActivity" />
        </activity>

        <activity android:name="com.example.ilham.ilham_1202152174_studyCase4.CariGambar"
            android:parentActivityName="com.example.ilham.ilham_1202152174_studyCase4.MainActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.ilham.ilham_1202152174_studyCase4.MainActivity" />
            android:configChanges="orientation|screenSize|keyboard"
        </activity>
    </application>

</manifest>